<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="Browser1" value="Firefox" />
    <add key="Browser2" value="Chrome" />
    --><!--<add key="Browser2" value="PhantomJS" />
    
    <add key="Browser4" value="IE" />--><!--
    <add key="AutoWaitForElements" value="True" />
    <add key="HighlightFoundElements" value="False" />
    <add key="UseProxy" value="False" />
    <add key="StartProxy" value="False" />
    <add key="ValidateTraffic" value="False" />
    <add key="DegreeOfParallelism" value="5" />
    <add key="ElementTimeoutSec" value="10" />
    <add key="WindowOpenTimeoutSec" value="30" />
    <add key="PageTimeoutSec" value="60" />
    <add key="TestTimeoutMin" value="10" />-->

    <add key="UseSauceLabs" value="True" />
    <add key="SauceLabsUsername" value="bkitchener"/>
    <add key="SauceLabsAPIKey" value="998969ff-ad37-4b2e-9ad7-edacd982bc59"/>
    <add key="RunOnRemoteHost" value="True" />
    <add key="HostIp" value="localhost"/>
    <add key="RemoteHostPort" value="4441" />
    <add key="DegreeOfParallelism" value="1" />
    <add key="HtmlOnError" value="True" />
    <add key="ScreenshotOnError" value="True" />
    <add key="VideoRecordingOnError" value="False" />
       
    <add key="Browser1" value="IE"/>
    <add key="Version1" value="8"/>
    <add key="Platform1" value="Windows 7"/>



    <!--Prod environment settings-->
    <add key="EnvironmentUrl" value="http://hpnn.hp.com" />
    <add key="SalesEmail" value="chris.bower@hp.com" />
    <add key="SalesPassword" value="Sanders76" />
    <add key="GeneralEmail" value="bob.gonzales@hp.com" />
    <add key="GeneralPassword" value="asdf" />
    <add key="FindHiddenElements" value="false" />



    <!--Dev environment settings-->
    <!--<add key="EnvironmentUrl" value="http://kentico.dev.edelvm.net" />
    <add key="SalesEmail" value="7@hp.com"/>
    <add key="SalesPassword" value="asdf"/>
    <add key="GeneralEmail" value="bob.gonzales@hp.com"/>
    <add key="GeneralPassword" value="asdf"/>
    <add key="FindHiddenElements" value="false"/>-->
    
    <!--Staging Environment settings-->
    <!--<add key="EnvironmentUrl" value="http://--><!--staging.hpnn.hp.com/" />  
    <add key="SalesEmail" value="cbower"/>
    <add key="SalesPassword" value="sanders"/>
    <add key="GeneralEmail" value="bob.gonzales@hp.com"/>
    <add key="GeneralPassword" value="asdf"/>
    <add key="FindHiddenElements" value="false"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>