<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Browser1" value="Chrome" />
    <add key="SpellChecking" value="False" />
    <add key="HighlightOnVerify" value="False" />
    <add key="EnvUrl" value="http://katie-dev.lab.hpnewsnow.com/" />
    <add key="UseProxy" value="false" />
    <add key="StartProxy" value="false" />
    <add key="ElementTimeoutSec" value="20" />
    <add key="WindowOpenTimeoutSec" value="30" />
    <add key="PageTimeoutSec" value="60" />
    <add key="TestTimeoutMin" value="10" />
  </appSettings>
</configuration>