<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Browser1" value="Firefox" />
    <!--<add key="Browser2" value="Chrome" />
    <add key="Browser3" value="IE" />-->
    <add key="AutoWaitForElements" value="True"/>
    <add key="HighlightFoundElements" value="True" />
    <add key="EnvironmentUrl" value="http://kentico.dev.edelvm.net" />
    <add key="UseProxy" value="True" />
    <add key="StartProxy" value="True" />
    <add key="ElementTimeoutSec" value="10" />
    <add key="WindowOpenTimeoutSec" value="30" />
    <add key="PageTimeoutSec" value="60" />
    <add key="TestTimeoutMin" value="10" />
    <add key="SalesEmail" value="7@hp.com"/>
    <add key="SalesPassword" value="asdf"/>
    <add key="GeneralEmail" value="bob.gonzales@hp.com"/>
    <add key="GeneralPassword" value="asdf"/>
    <add key="FindHiddenElements" value="false"/>
  </appSettings>
</configuration>