<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    

    <add key="Browser1" value="Chrome"/>   
    <!--<add key="Browser2" value="Firefox" />
    <add key="Browser3" value="PhantomJS" />
    <add key="Browser4" value="IE" />-->
    <add key="AutoWaitForElements" value="True"/>
    <add key="HighlightFoundElements" value="False" />
       
    <add key="StartProxy" value="False" />
    <add key="UseProxy" value="False" />
    <!--<add key="ProxyUrl" value="web-proxy.houston.hp.com"/>
    <add key="ProxyPort" value="8080"/>-->
    
    <add key="ValidateTraffic" value="False"/>
    <add key="DegreeOfParallelism" value="1"/>
    <add key="ElementTimeoutSec" value="30" />
    <add key="WindowOpenTimeoutSec" value="30" />
    <add key="PageTimeoutSec" value="60" />
    <add key="TestTimeoutMin" value="10" />

    <add key="UseDefaultIFrame" value="False" />

    <!--GRID Settings-->
    <!--<add key="UseSauceLabs" value="False" />
     <add key="RunOnRemoteHost" value="True" />
     <add key="HostIp" value="localhost"/>
    <add key="DegreeOfParallelism" value="1" />
    <add key="HtmlOnError" value="True" />
    <add key="ScreenshotOnError" value="True" />
    <add key="VideoRecordingOnError" value="False" />
    
    <add key="Browser1" value="Firefox"/>
    <add key="Version1" value=""/>
    <add key="Platform1" value="Windows 7"/>

    <add key="Browser1" value="Chrome"/>
    <add key="Version1" value=""/>
    <add key="Platform1" value="Windows 7"/>

    <add key="Browser1" value="IE"/>
    <add key="Version1" value="10"/>
    <add key="Platform1" value="Windows 8"/>

    <add key="Browser1" value="IE"/>
    <add key="Version1" value="11"/>
    <add key="Platform1" value="Windows 8.1"/>

    -->
    

    <!--SauceLabsSettings-->
    <!--<add key="UseSauceLabs" value="True" />
    <add key="SauceLabsUsername" value="bkitchener" />
    <add key="SauceLabsAPIKey" value="998969ff-ad37-4b2e-9ad7-edacd982bc59" />
    <add key="RunOnRemoteHost" value="True" />
    <add key="DegreeOfParallelism" value="5" />
    <add key="HtmlOnError" value="True" />
    <add key="ScreenshotOnError" value="True" />
    <add key="VideoRecordingOnError" value="False" />
    <add key="AutoWaitForElements" value="True"/>
    <add key="HighlightFoundElements" value="False" />-->
    
    <!--<add key="Browser1" value="IE"/>
    <add key="Version1" value="10"/>
    <add key="Platform1" value="Windows 7"/>
    
    <add key="Browser4" value="IE"/>
    <add key="Version4" value="11"/>
    <add key="Platform4" value="Windows 8.1"/>-->
    <!--<add key="Browser2" value="Chrome"/>
    <add key="Version2" value=""/>
    <add key="Platform2" value="Windows 7"/>-->

    <!--<add key="Browser3" value="IE"/>
    <add key="Version3" value="10"/>
    <add key="Platform3" value="Windows 8"/>

   -->

    

    
    
    <!--Prod environment settings-->

    <!--<add key="EnvUrl" value="https://chris.bower@hp.com:Sanders76@home.hp.com" />-->
    <add key="EnvUrl" value="http://@hpnn.hp.com" />    
    <add key="AdminEmail" value="chris.bower@hp.com"/>
    <add key="AdminPassword" value="Sanders76"/>
    <add key="SalesEmail" value="cbower"/>
    <add key="SalesPassword" value="sanders"/>
    <add key="FindHiddenElements" value="false"/>

    <!--Dev environment settings-->
    <!--<add key="EnvironmentUrl" value="http://kentico.dev.edelvm.net" />
    <add key="SalesEmail" value="7@hp.com"/>
    <add key="SalesPassword" value="asdf"/>
    <add key="GeneralEmail" value="bob.gonzales@hp.com"/>
    <add key="GeneralPassword" value="asdf"/>
    <add key="FindHiddenElements" value="false"/>-->
    
    <!--Staging Environment settings-->
    <!--<add key="EnvironmentUrl" value="http://--><!--staging.hpnn.hp.com/" />  
    <add key="SalesEmail" value="cbower"/>
    <add key="SalesPassword" value="sanders"/>
    <add key="GeneralEmail" value="bob.gonzales@hp.com"/>
    <add key="GeneralPassword" value="asdf"/>
    <add key="FindHiddenElements" value="false"/>-->
  </appSettings>
</configuration>